#banner
	.banner_content
		%h1 Hello there. You have to log in!
		%button= link_to "Enter", new_user_registration_path


#botton_cta
	.wrapper
		%button= link_to "Join Now", new_user_registration_path